In [1]:
import pandas as pd
import numpy as np

### Read all csv data

In [2]:
vegas = pd.read_csv("city/las_vegas.csv")
madison = pd.read_csv("city/Madison.csv")
phoenix = pd.read_csv("city/Phoenix.csv")
cleveland = pd.read_csv("city/Cleveland.csv")
charlotte = pd.read_csv("city/Charlotte.csv")
montreal = pd.read_csv("city/Montreal.csv")
toronto = pd.read_csv("city/Toronto.csv")
city_list = [vegas, madison, phoenix, cleveland, charlotte, montreal, toronto]

In [3]:
for city in city_list:
    print(city.shape)

(7944, 19)
(1904, 19)
(13899, 19)
(6108, 19)
(5022, 19)
(5967, 19)
(16790, 19)

### Rating/5-star rating/avg review

In [7]:
rating_df = pd.DataFrame(index = ['Average rating','5-star rate','Average review count'])
# average rating
for city in city_list:
    name = city['city'][0]
    avg_rating = round(city['stars'].mean(),2)
    star5_rate = round(sum(city['stars'] == 5) / city.shape[0]*100,2)
    avg_review = round(city['review_count'].mean(),2)
    rates = [avg_rating, star5_rate, avg_review]
    rating_df[name] = rates
rating_df.to_csv('city/pattern/rate_des.csv')

### Most popular 5-star

In [9]:
# most popular restaurant
total_df = pd.DataFrame()
for city in city_list:
    name = city['city'][0]
    city = city.sort_values(by = 'review_count',ascending= False)[['stars','review_count']]
    if (city[city['review_count'] > 300][city['stars']>=5].shape)[0] > 0:
        temp = city[city['review_count'] > 300][city['stars']>=5]
        temp['city'] = name
        total_df = pd.concat([total_df, temp])
total_df.to_csv('city/pattern/5star.csv')
    # Phoenix has the most commented 5-star rest

D:\miniconda\lib\site-packages\ipykernel_launcher.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

D:\miniconda\lib\site-packages\ipykernel_launcher.py:7: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  import sys

# Cusine

### Processing cuisine

In [10]:
category = pd.read_csv('category/All_Category_classified.csv')

In [11]:
def category_processing(row):
    food_type = row['food_type']
    rest_type = row['restaurant_type']
    coun_type = row['country_type']
    types = [food_type, rest_type, coun_type]
    type_list = []
    for tp in types:
        if type(tp) is str:
            tp = tp.strip(';')
            subtype = tp.split(';')
            for tp in subtype:
                type_list.append(tp)
    for tp in type_list:
        row[tp] = 1
    return row

In [12]:
city_ci_list = []
for city in city_list:
    city_temp = city
    for cat in category['category']:
        city_temp[cat] = 0
    city_cuisine = city_temp.apply(category_processing, axis = 1)
    city_ci_list.append(city_cuisine)

In [13]:
for city in city_ci_list:
    name = city['city'][0]
    city.to_csv('city/{}_ci.csv'.format(name))

### has the most types(rest/food/country)

In [15]:
type_total_df = pd.DataFrame(index = ['count','types'])
for city in city_ci_list:
    types_df = city.iloc[:,19:]
    name = city['city'][0]
    count = city.shape[0]
    var = round(sum(types_df.apply(lambda x : sum(x) ,axis = 0) > 0)/types_df.shape[1]*100,1)
    l = [count,var]
    type_total_df[name] = l
type_total_df.to_csv('city/pattern/type_counts.csv')

### sandwich & burger

In [16]:
spb_df = pd.DataFrame(index = ['sandwich rate','pizza rate','burger rate','fast food rate','total rate'])
for city in city_ci_list:
    name = city['city'][0]
    count = city.shape[0]
    sandwich = city['Sandwiches']
    pizza = city['Pizza']
    burger = city['Burgers']
    ff = city['Fast Food']
    sr = sum(sandwich) / len(sandwich)
    pr = sum(pizza) / len(pizza)
    br = sum(burger) / len(burger)
    fr = sum(ff) / len(ff)
    sr = round(sr*100,1)
    br = round(br*100,1)
    pr = round(pr*100,1)
    fr = round(fr*100,1)
    tr = sr + br + pr + fr
    r = [sr,pr,br,fr,tr]
    spb_df[name] = r
#     print("{} sandwich rate: {}%, pizza rate: {}%, burger rate :{}%, total rate: {}%".format(name, sr, pr, br, tr))
spb_df.to_csv('city/pattern/fast_food.csv')

### Asian

In [17]:
Asian_df = pd.DataFrame()
for city in city_ci_list:
    name = city['city'][0]
    count = city.shape[0]
    Chinese = city['Chinese']
    Japanese = city['Japanese']
    Indian = city['Indian']
    Thai = city['Thai']
    Vietnamese = city['Vietnamese']
    Korean = city['Korean']
    Asian = pd.concat([Chinese, Japanese, Indian, Thai, Vietnamese, Korean],axis = 1)
    rate = Asian.apply(lambda x: sum(x)/len(x),axis = 0)
    rate = round(rate*100,2)
    Asian_df[name] = rate
Asian_df.loc['Sum'] = Asian_df.apply(lambda x: sum(x) ,axis = 0)
Asian_df.to_csv('city/pattern/asian.csv')

In [39]:
mask = category['Country type'].apply(lambda x :type(x) is str)
category[mask]

,category,count,remark,Food type,Rest type,Country type,Repeat as
5,American (Traditional),6097,NaN,NaN,NaN,American (Traditional),NaN
8,Italian,4662,NaN,NaN,NaN,Italian,NaN
11,Mexican,4105,NaN,NaN,NaN,Mexican,NaN
12,Chinese,3987,NaN,NaN,NaN,Chinese,NaN
13,American (New),3979,NaN,NaN,NaN,American (New),NaN
19,Japanese,2304,NaN,NaN,NaN,Japanese,NaN
26,Asian Fusion,1658,NaN,NaN,NaN,Asian Fusion,NaN
27,Mediterranean,1593,NaN,NaN,NaN,Mediterranean,NaN
29,Canadian (New),1468,NaN,NaN,NaN,Canadian (New),NaN
32,Indian,1368,NaN,NaN,NaN,Indian,NaN
33,Thai,1355,NaN,NaN,NaN,Thai,NaN
37,Middle Eastern,1029,NaN,NaN,NaN,Middle Eastern,NaN
39,Greek,1004,NaN,NaN,NaN,Greek,NaN
40,French,1003,NaN,NaN,NaN,French,NaN
41,Vietnamese,987,NaN,NaN,NaN,Vietnamese,NaN
46,Korean,751,NaN,NaN,NaN,Korean,NaN
51,Tex-Mex,668,德州墨西哥菜,NaN,NaN,Tex-Mex,NaN
56,Caribbean,552,加勒比,NaN,NaN,Caribbean,NaN
58,German,514,NaN,NaN,NaN,German,NaN
59,Latin American,502,NaN,NaN,NaN,Latin American,NaN
65,Pakistani,373,巴基斯坦,NaN,NaN,Pakistani,NaN
67,British,357,NaN,NaN,NaN,British,NaN
75,Hawaiian,269,NaN,NaN,NaN,Hawaiian,NaN
79,Portuguese,235,NaN,NaN,NaN,Portuguese,NaN
80,Modern European,228,NaN,NaN,NaN,Modern European,NaN
83,Swabian,200,施瓦本,NaN,NaN,Swabian,NaN
84,Spanish,192,NaN,NaN,NaN,Spanish,NaN
85,Filipino,183,菲律宾,NaN,NaN,Filipino,NaN
87,Irish,180,NaN,NaN,NaN,Irish,NaN
88,Turkish,180,NaN,NaN,NaN,Turkish,NaN
...,...,...,...,...,...,...,...
163,Bavarian,13,NaN,NaN,NaN,Bavarian,NaN
164,Egyptian,12,NaN,NaN,NaN,Egyptian,NaN
165,Burmese,11,缅甸菜,NaN,NaN,Burmese,NaN
167,Haitian,9,NaN,NaN,NaN,Haitian,NaN
168,Australian,9,NaN,NaN,NaN,Australian,NaN
169,Shanghainese,9,NaN,NaN,NaN,Shanghainese,NaN
170,Armenian,8,NaN,NaN,NaN,Armenian,NaN
171,Czech,6,NaN,NaN,NaN,Czech,NaN
172,Syrian,5,NaN,NaN,NaN,Syrian,NaN
173,Trinidadian,4,特立尼达和多巴哥,NaN,NaN,Trinidadian,NaN
174,Tuscan,4,意大利托斯卡纳,NaN,NaN,Tuscan,NaN
175,Iberian,4,伊比利亚,NaN,NaN,Iberian,NaN
176,Honduran,4,洪都拉斯,NaN,NaN,Honduran,NaN
177,Slovakian,3,NaN,NaN,NaN,Slovakian,NaN
178,Swiss Food,3,NaN,NaN,NaN,Swiss Food,NaN
179,Uzbek,3,乌兹别克斯坦,NaN,NaN,Uzbek,NaN
182,Baden,3,德国巴登,NaN,NaN,Baden,NaN
183,Eastern European,3,NaN,NaN,NaN,Eastern European,NaN
184,Nicaraguan,2,尼加拉瓜,NaN,NaN,Nicaraguan,NaN
187,Mauritius,2,毛里求斯共和国,NaN,NaN,Mauritius,NaN
190,Traditional Norwegian,1,NaN,NaN,NaN,Traditional Norwegian,NaN
192,Senegalese,1,塞内加尔,NaN,NaN,Senegalese,NaN
197,Eastern German,1,NaN,NaN,NaN,Eastern German,NaN
198,Sicilian,1,西西里披薩,NaN,NaN,Sicilian,NaN
199,Hainan,1,NaN,NaN,NaN,Hainan,NaN
200,Bulgarian,1,NaN,NaN,NaN,Bulgarian,NaN
201,Czech/Slovakian,1,NaN,NaN,NaN,Czech/Slovakian,NaN
202,Guamanian,1,关岛,NaN,NaN,Guamanian,NaN
203,Alsatian,1,法国阿尔萨斯,NaN,NaN,Alsatian,NaN
205,Georgian,1,NaN,NaN,NaN,Georgian,NaN

### Europe

In [19]:
European_df = pd.DataFrame()
for city in city_ci_list:
    name = city['city'][0]
    count = city.shape[0]
    European = city[['Italian','Mediterranean','Middle Eastern','Greek','French','German','British']]
    European_df[name] = European.apply(lambda x: sum(x)/len(x),axis = 0)
European_df.loc['Sum'] = European_df.apply(lambda x: sum(x) ,axis = 0)
European_df = round(European_df * 100, 2)
European_df.to_csv('city/pattern/european.csv')

### American

In [21]:
American_df = pd.DataFrame()
for city in city_ci_list:
    name = city['city'][0]
    count = city.shape[0]
    American = city[['American (Traditional)','American (New)','Mexican','Canadian (New)','Tex-Mex','Latin American','Hawaiian']]
    American_df[name] = American.apply(lambda x: sum(x)/len(x),axis = 0)
American_df.loc['Sum'] = American_df.apply(lambda x: sum(x) ,axis = 0)
American_df = round(American_df * 100, 2)
American_df.to_csv('city/pattern/amarican.csv')

### Restaurant type(cafe or bar or fast food)

In [26]:
mask = category['Rest type'].apply(lambda x :type(x) is str)
# category[mask]

In [22]:
def fre_count(cl):
    cat_df = pd.DataFrame()
    for city in city_ci_list:
        name = city['city'][0]
        count = city.shape[0]
        cat = city[cl]
        cat_df[name] = cat.apply(lambda x: sum(x)/len(x),axis = 0)
    cat_df.loc['Sum'] = cat_df.apply(lambda x: sum(x) ,axis = 0)
    cat_df = round(cat_df * 100, 2)
    return cat_df

In [24]:
rests = ['Coffee & Tea','Cafes']
fre_count(rests).to_csv('city/pattern/cofe_tea.csv')

### Beverage or food rest

In [28]:
#bars = ['Bars','Wine Bars','Cocktail Bars']
bars = []
for cat in category[mask]['category']:
    if 'Bar' in cat: 
        if 'Barbe' not in cat:
            if 'Juice' not in cat: bars.append(cat)
fre_count(bars).to_csv('city/pattern/bar.csv')

### Minority cuisine

In [29]:
def fre_sum_count(cl):
    cat_df = pd.DataFrame()
    for city in city_ci_list:
        name = city['city'][0]
        count = city.shape[0]
        cat = city[cl]
        cat_df[name] = cat.apply(lambda x: sum(x),axis = 0)
    cat_df['Sum'] = cat_df.apply(lambda x: sum(x) ,axis = 1)
    return cat_df

In [31]:
min_cat = category[category['count'] < 20]['category']
min_rest = fre_sum_count(min_cat)
min_rest[min_rest['Sum'] > 0].to_csv('city/pattern/minority.csv')

# Open time

### Longest and shortest open time

In [32]:
import time
vegas = pd.read_csv("city/las_vegas.csv")
madison = pd.read_csv("city/Madison.csv")
phoenix = pd.read_csv("city/Phoenix.csv")
cleveland = pd.read_csv("city/Cleveland.csv")
charlotte = pd.read_csv("city/Charlotte.csv")
montreal = pd.read_csv("city/Montreal.csv")
toronto = pd.read_csv("city/Toronto.csv")
city_list = [vegas, madison, phoenix, cleveland, charlotte, montreal, toronto]

In [33]:
def time_span(timerange):
    if timerange != 'None':
        try:
            timerange = timerange.split('-')
            start, end = (time.strptime(timerange[0], "%H:%M"), time.strptime(timerange[1], "%H:%M"))
            start_hour, start_min = start.tm_hour,start.tm_min
            end_hour, end_min = end.tm_hour, end.tm_min
            st1,st2,et1,et2 = start_hour, start_min, end_hour, end_min
            if et1 <= st1 : et1 += 24
            timespan = et1 - st1 + (et2 - st2) / 60
            return timespan
        except:
            return None
    else: return None

In [34]:
def city_dataframe(time_func):
    city_df = pd.DataFrame()
    for city in city_list:
        name = city['city'][0]
        city_time = city.iloc[:,-7:]
        t = city_time.applymap(time_func)
        city_df[name] = t.apply(lambda x: x.mean(), axis = 0)
    city_df.loc['Average'] = city_df.apply(lambda x: x.mean())
    city_df['Average'] = city_df.apply(lambda x: x.mean(), axis = 1)
    return city_df

In [37]:
round(city_dataframe(time_span),2).to_csv('city/pattern/open_duration.csv')

### 24h rate

In [38]:
def time_24(timerange):
    if timerange != 'None':
        try:
            timerange = timerange.split('-')
            start, end = (time.strptime(timerange[0], "%H:%M"), time.strptime(timerange[1], "%H:%M"))
            start_hour, start_min = start.tm_hour,start.tm_min
            end_hour, end_min = end.tm_hour, end.tm_min
            st1,st2,et1,et2 = start_hour, start_min, end_hour, end_min
            if st1 == et1 and st2 == et2: return 1 
            else: return 0
        except:
            return None
    else: return None

In [40]:
round(city_dataframe(time_24)*100,2).to_csv('city/pattern/24hour_rate.csv')

### Earliest and latest open time

In [41]:
def time_early(timerange):
    if timerange != 'None':
        try:
            timerange = timerange.split('-')
            start, end = (time.strptime(timerange[0], "%H:%M"), time.strptime(timerange[1], "%H:%M"))
            start_hour, start_min = start.tm_hour,start.tm_min
            end_hour, end_min = end.tm_hour, end.tm_min
            st1,st2,et1,et2 = start_hour, start_min, end_hour, end_min
            return st1 + st2/60
        except:
            return None
    else: return None

In [43]:
round(city_dataframe(time_early),2).to_csv('city/pattern/early.csv')

In [44]:
def time_late(timerange):
    if timerange != 'None':
        try:
            timerange = timerange.split('-')
            start, end = (time.strptime(timerange[0], "%H:%M"), time.strptime(timerange[1], "%H:%M"))
            start_hour, start_min = start.tm_hour,start.tm_min
            end_hour, end_min = end.tm_hour, end.tm_min
            st1,st2,et1,et2 = start_hour, start_min, end_hour, end_min
            if et1 == 0: et1 = 24
            return et1 + et2/60
        except:
            return None
    else: return None

In [46]:
round(city_dataframe(time_late),2).to_csv('city/pattern/late.csv')

# Cuisine X Rating

### Highest rating cuisine(rest/coun/food)

In [47]:
def cuisine_cross_pattern(cross_att):
    city = city_ci_list[0]
    city = city.iloc[:,21:50]
    cuisine_cross_df = pd.DataFrame(index = city.columns)
    for city in city_ci_list:
        name = city['city'][0]
        cross = city[cross_att]
        city = city.iloc[:,21:50]
        cuisine_cross_df[name] = 0
        for cat in city:
            cuisine_cross = city[cat] * cross
            cuisine_cross = cuisine_cross[cuisine_cross != 0]
            cuisine_cross = cuisine_cross.mean()
            cuisine_cross_df[name].loc[cat] = cuisine_cross
    cuisine_cross_df.loc['Sum'] = cuisine_cross_df.apply(lambda x: x.mean())
    return cuisine_cross_df

In [49]:
temp = round(cuisine_cross_pattern('stars'),2)
temp.to_csv('city/pattern/cuisine_X_rating.csv')

D:\miniconda\lib\site-packages\pandas\core\indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

### Most popular cuisine(r/c/f)

In [51]:
temp = round(cuisine_cross_pattern('review_count'),2)
temp.to_csv('city/pattern/cuisine_X_review.csv')

D:\miniconda\lib\site-packages\pandas\core\indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

# Cuisine X Open time

### Weekend & weekday food

In [139]:
city = city_ci_list[1]
name = city['city'][0]
city_cat = city.iloc[:,21:50]
city_open = city.iloc[:,12:19]
city_open = city_open.applymap(time_span)
city_df = pd.DataFrame(columns = city_open.columns, index = city_cat.columns)
for day in city_open: # a particular day(Mon, Tues ...)
    for cat in city_cat: # a particular category
        temp = city_open[day] * city_cat[cat] # Open time for the restaurants in a particular cuisine category
        temp = temp[temp != 0] # Eliminate restaurants not in this cuisine category
        avg = temp.mean() # Average open time in this day for this particular cuisine category
        city_df[day].loc[cat] = avg
city_df

,mon,tue,wed,thu,fri,sat,sun
Bars,12.0803,11.9241,11.8953,11.9609,12.6193,12.985,12.4351
Sandwiches,11.5732,11.5308,11.5885,11.5308,12.0308,11.888,11.289
Fast Food,13.7471,13.5795,13.5795,13.7273,13.9375,13.8851,13.1429
American (Traditional),12.9914,12.8112,12.8325,12.8895,13.4018,13.4854,12.8626
Pizza,10.8621,11.0056,11.0167,11.1611,12.1028,12.2139,10.8795
Coffee & Tea,12.5561,12.375,12.3302,12.3505,12.4019,11.6346,10.6117
Italian,10.0917,10.1855,10.0873,10.2381,10.8867,10.668,10.2925
Burgers,13.1322,13.1348,13.0889,13.0278,13.6429,13.9835,13.2471
Breakfast & Brunch,11.2989,11.4745,11.4406,11.635,11.9257,11.4109,10.2204
Mexican,12.2308,12.1029,12.0294,12.0441,12.6449,13.2132,12.05
Chinese,10.4167,10.0911,10.1231,10.1572,10.7367,10.6572,9.77183
American (New),12.2629,12.0596,11.9595,12.0491,12.692,12.9128,11.7448
Specialty Food,10.4508,10.0735,10.0326,10.1618,10.1884,9.54348,8.37273
Bakeries,11.6875,11.1466,11.319,11.2672,11.431,10.2373,10.3289
Cafes,11.8443,11.3786,11.3403,11.4444,11.5972,11.0882,10.2414
Desserts,9.83333,9.66667,9.58333,9.72973,10.2432,10,9.15625
Ice Cream & Frozen Yogurt,10.587,11.0444,11.0435,11.1739,11.3913,11.0326,10.2333
Japanese,8.1875,8.17308,8.17308,8.17308,8.90385,9.18,9.15909
Chicken Wings,12.3889,12.4444,12.4444,12.3333,13.0694,12.7639,12.1528
Seafood,8.91667,8.6375,8.59524,8.63095,9.45238,9.64634,8.29412
Salad,10.6842,10.9625,11,11.1375,11.4625,11.125,10.2
Sushi Bars,7.55,7.59091,7.59091,7.59091,8.65909,8.9625,8.94444
Beer,12.1875,12.5536,12.3793,12.5678,12.6949,12.7712,11.2636
Delis,11.7763,11.925,12.0513,12.075,12.125,11.8026,11.7222
Asian Fusion,9.0125,9.11538,9.0641,9.025,9.6125,9.95513,8.92647
Mediterranean,9.6,9.35714,9.37931,9.96552,10.431,10.4138,9.65
Barbeque,11,9.86111,9.86111,9.91667,10.6667,11.2353,11.2273
Canadian (New),NaN,NaN,NaN,NaN,NaN,NaN,NaN
Steakhouses,9.5,9.525,9.11364,9.11364,9.79545,10.8409,9.80556

In [120]:
city = city_ci_list[0]
name = city['city'][0]
city_cat = city.iloc[:,21:50]
city_open = city.iloc[:,12:19]
city_open = city_open.applymap(time_span)
city_df = pd.DataFrame(columns = city_open.columns, index = city_cat.columns)
type(city_open.iloc[1,0])

numpy.float64

### Latest cuisine